<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Конвертер валют</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>

<div class="container py-5">

    <h1 class="h2">Конвертер валют</h1>
    <p>Конвертер валют онлайн — инструмент, который позволит вам рассчитать соотношения актуальных курсов денежных
        средств всего мира, некоторых криптовалют и драгоценных металлов на текущий момент.</p>

    <form method="post">

        <div class="input-group mb-3">
            <input type="number" name="initAmount" class="form-control" placeholder="У меня есть">

            <select name="initCurrency" class="form-select">
                <option value="RUB">RUB - Российский рубль</option>
                <option value="USD">USD - Доллар США</option>
                <option value="AED">AED - Дирхам ОАЭ</option>
                <option value="AFN">AFN - Афгани</option>
                <option value="ALL">ALL - Албанский лек</option>
                <option value="AMD">AMD - Армянский драм</option>
                <option value="ANG">ANG - Нидерландский антильский гульден</option>
                <option value="AOA">AOA - Ангольская кванза</option>
                <option value="ARS">ARS - Аргентинское песо</option>
                <option value="AUD">AUD - Австралийский доллар</option>
                <option value="AWG">AWG - Арубанский флорин</option>
                <option value="AZN">AZN - Азербайджанский манат</option>
                <option value="BAM">BAM - Боснийская марка</option>
                <option value="BBD">BBD - Барбадосский доллар</option>
                <option value="BDT">BDT - Бангладешская така</option>
                <option value="BGN">BGN - Болгарский лев</option>
                <option value="BHD">BHD - Бахрейнский динар</option>
                <option value="BIF">BIF - Бурундийский франк</option>
                <option value="BMD">BMD - Бермудский доллар</option>
                <option value="BND">BND - Брунейский доллар</option>
                <option value="BOB">BOB - Боливийский боливиано</option>
                <option value="BRL">BRL - Бразильский реал</option>
                <option value="BSD">BSD - Багамский доллар</option>
                <option value="BTC">BTC - Биткойн</option>
                <option value="BTN">BTN - Бутанский нгултрум</option>
                <option value="BWP">BWP - Ботсванская пула</option>
                <option value="BYN">BYN - Белорусский рубль</option>
                <option value="BZD">BZD - Белизский доллар</option>
                <option value="CAD">CAD - Канадский доллар</option>
                <option value="CDF">CDF - Конголезский франк</option>
                <option value="CHF">CHF - Швейцарский франк</option>
                <option value="CLF">CLF - Чилийский учетная единица</option>
                <option value="CLP">CLP - Чилийское песо</option>
                <option value="CNH">CNH - Китайский юань (офшор)</option>
                <option value="CNY">CNY - Китайский юань</option>
                <option value="COP">COP - Колумбийское песо</option>
                <option value="CRC">CRC - Костариканский колон</option>
                <option value="CUC">CUC - Кубинское конвертируемое песо</option>
                <option value="CUP">CUP - Кубинское песо</option>
                <option value="CVE">CVE - Кабо-Вердский эскудо</option>
                <option value="CZK">CZK - Чешская крона</option>
                <option value="DJF">DJF - Джибутийский франк</option>
                <option value="DKK">DKK - Датская крона</option>
                <option value="DOP">DOP - Доминиканское песо</option>
                <option value="DZD">DZD - Алжирский динар</option>
                <option value="EGP">EGP - Египетский фунт</option>
                <option value="ERN">ERN - Эритрейская накфа</option>
                <option value="ETB">ETB - Эфиопский быр</option>
                <option value="EUR">EUR - Евро</option>
                <option value="FJD">FJD - Фиджийский доллар</option>
                <option value="FKP">FKP - Фунт Фолклендских островов</option>
                <option value="GBP">GBP - Британский фунт стерлингов</option>
                <option value="GEL">GEL - Грузинский лари</option>
                <option value="GGP">GGP - Гернсийский фунт</option>
                <option value="GHS">GHS - Ганский седи</option>
                <option value="GIP">GIP - Гибралтарский фунт</option>
                <option value="GMD">GMD - Гамбийский даласи</option>
                <option value="GNF">GNF - Гвинейский франк</option>
                <option value="GTQ">GTQ - Гватемальский кетсаль</option>
                <option value="GYD">GYD - Гайанский доллар</option>
                <option value="HKD">HKD - Гонконгский доллар</option>
                <option value="HNL">HNL - Гондурасская лемпира</option>
                <option value="HRK">HRK - Хорватская куна</option>
                <option value="HTG">HTG - Гаитянский гурд</option>
                <option value="HUF">HUF - Венгерский форинт</option>
                <option value="IDR">IDR - Индонезийская рупия</option>
                <option value="ILS">ILS - Израильский новый шекель</option>
                <option value="IMP">IMP - Мэнский фунт</option>
                <option value="INR">INR - Индийская рупия</option>
                <option value="IQD">IQD - Иракский динар</option>
                <option value="IRR">IRR - Иранский риал</option>
                <option value="ISK">ISK - Исландская крона</option>
                <option value="JEP">JEP - Джерсийский фунт</option>
                <option value="JMD">JMD - Ямайский доллар</option>
                <option value="JOD">JOD - Иорданский динар</option>
                <option value="JPY">JPY - Японская йена</option>
                <option value="KES">KES - Кенийский шиллинг</option>
                <option value="KGS">KGS - Киргизский сом</option>
                <option value="KHR">KHR - Камбоджийский риель</option>
                <option value="KMF">KMF - Коморский франк</option>
                <option value="KPW">KPW - Северокорейская вона</option>
                <option value="KRW">KRW - Южнокорейская вона</option>
                <option value="KWD">KWD - Кувейтский динар</option>
                <option value="KYD">KYD - Каймановский доллар</option>
                <option value="KZT">KZT - Казахстанский тенге</option>
                <option value="LAK">LAK - Лаосский кип</option>
                <option value="LBP">LBP - Ливанский фунт</option>
                <option value="LKR">LKR - Шри-ланкийская рупия</option>
                <option value="LRD">LRD - Либерийский доллар</option>
                <option value="LSL">LSL - Лесотский лоти</option>
                <option value="LYD">LYD - Ливийский динар</option>
                <option value="MAD">MAD - Марокканский дирхам</option>
                <option value="MDL">MDL - Молдавский лей</option>
                <option value="MGA">MGA - Малагасийский ариари</option>
                <option value="MKD">MKD - Македонский денар</option>
                <option value="MMK">MMK - Мьянманский кьят</option>
                <option value="MNT">MNT - Монгольский тугрик</option>
                <option value="MOP">MOP - Патака Макао</option>
                <option value="MRU">MRU - Мавританская угия</option>
                <option value="MUR">MUR - Маврикийская рупия</option>
                <option value="MVR">MVR - Мальдивская руфия</option>
                <option value="MWK">MWK - Малавийская квача</option>
                <option value="MXN">MXN - Мексиканское песо</option>
                <option value="MYR">MYR - Малайзийский ринггит</option>
                <option value="MZN">MZN - Мозамбикский метикал</option>
                <option value="NAD">NAD - Намибийский доллар</option>
                <option value="NGN">NGN - Нигерийская найра</option>
                <option value="NIO">NIO - Никарагуанская кордоба</option>
                <option value="NOK">NOK - Норвежская крона</option>
                <option value="NPR">NPR - Непальская рупия</option>
                <option value="NZD">NZD - Новозеландский доллар</option>
                <option value="OMR">OMR - Оманский риал</option>
                <option value="PAB">PAB - Панамская бальбоа</option>
                <option value="PEN">PEN - Перуанский соль</option>
                <option value="PGK">PGK - Кина Папуа-Новой Гвинеи</option>
                <option value="PHP">PHP - Филиппинское песо</option>
                <option value="PKR">PKR - Пакистанская рупия</option>
                <option value="PLN">PLN - Польский злотый</option>
                <option value="PYG">PYG - Парагвайский гуарани</option>
                <option value="QAR">QAR - Катарский риал</option>
                <option value="RON">RON - Румынский лей</option>
                <option value="RSD">RSD - Сербский динар</option>
                <option value="RWF">RWF - Руандский франк</option>
                <option value="SAR">SAR - Саудовский риял</option>
                <option value="SBD">SBD - Соломоновский доллар</option>
                <option value="SCR">SCR - Сейшельская рупия</option>
                <option value="SDG">SDG - Суданский фунт</option>
                <option value="SEK">SEK - Шведская крона</option>
                <option value="SGD">SGD - Сингапурский доллар</option>
                <option value="SHP">SHP - Фунт острова Святой Елены</option>
                <option value="SLL">SLL - Сьерра-леонский леоне</option>
                <option value="SOS">SOS - Сомалийский шиллинг</option>
                <option value="SRD">SRD - Суринамский доллар</option>
                <option value="SSP">SSP - Южносуданский фунт</option>
                <option value="STN">STN - Сан-Томе и Принсипи двоба</option>
                <option value="SVC">SVC - Сальвадорский колон</option>
                <option value="SYP">SYP - Сирийский фунт</option>
                <option value="SZL">SZL - Свазилендский лилангени</option>
                <option value="THB">THB - Тайский бат</option>
                <option value="TJS">TJS - Таджикский сомони</option>
                <option value="TMT">TMT - Туркменский манат</option>
                <option value="TND">TND - Тунисский динар</option>
                <option value="TOP">TOP - Тонганская паанга</option>
                <option value="TRY">TRY - Турецкая лира</option>
                <option value="TTD">TTD - Доллар Тринидада и Тобаго</option>
                <option value="TWD">TWD - Новый тайваньский доллар</option>
                <option value="TZS">TZS - Танзанийский шиллинг</option>
                <option value="UAH">UAH - Украинская гривна</option>
                <option value="UGX">UGX - Угандийский шиллинг</option>
                <option value="UYU">UYU - Уругвайское песо</option>
                <option value="UZS">UZS - Узбекский сум</option>
                <option value="VES">VES - Венесуэльский боливар</option>
                <option value="VND">VND - Вьетнамский донг</option>
                <option value="VUV">VUV - Вануатский вату</option>
                <option value="WST">WST - Самоанская тала</option>
                <option value="XAF">XAF - Центральноафриканский франк</option>
                <option value="XAG">XAG - Серебро (унция)</option>
                <option value="XAU">XAU - Золото (унция)</option>
                <option value="XCD">XCD - Восточно-карибский доллар</option>
                <option value="XDR">XDR - Специальные права заимствования</option>
                <option value="XOF">XOF - Западноафриканский франк</option>
                <option value="XPD">XPD - Палладий (унция)</option>
                <option value="XPF">XPF - Франк КФП</option>
                <option value="XPT">XPT - Платина (унция)</option>
                <option value="YER">YER - Йеменский риал</option>
                <option value="ZAR">ZAR - Южноафриканский рэнд</option>
                <option value="ZMW">ZMW - Замбийская квача</option>
                <option value="ZWL">ZWL - Зимбабвийский доллар</option>
            </select>

            <span class="input-group-text"> &rarr; </span>

            <input fieldset disabled type="number" class="form-control" placeholder="Хочу приобрести">
            <select name="destCurrency" class="form-select" aria-label="Default select example">
                <option value="USD">USD - Доллар США</option>
                <option value="RUB">RUB - Российский рубль</option>
                <option value="AED">AED - Дирхам ОАЭ</option>
                <option value="AFN">AFN - Афгани</option>
                <option value="ALL">ALL - Албанский лек</option>
                <option value="AMD">AMD - Армянский драм</option>
                <option value="ANG">ANG - Нидерландский антильский гульден</option>
                <option value="AOA">AOA - Ангольская кванза</option>
                <option value="ARS">ARS - Аргентинское песо</option>
                <option value="AUD">AUD - Австралийский доллар</option>
                <option value="AWG">AWG - Арубанский флорин</option>
                <option value="AZN">AZN - Азербайджанский манат</option>
                <option value="BAM">BAM - Боснийская марка</option>
                <option value="BBD">BBD - Барбадосский доллар</option>
                <option value="BDT">BDT - Бангладешская така</option>
                <option value="BGN">BGN - Болгарский лев</option>
                <option value="BHD">BHD - Бахрейнский динар</option>
                <option value="BIF">BIF - Бурундийский франк</option>
                <option value="BMD">BMD - Бермудский доллар</option>
                <option value="BND">BND - Брунейский доллар</option>
                <option value="BOB">BOB - Боливийский боливиано</option>
                <option value="BRL">BRL - Бразильский реал</option>
                <option value="BSD">BSD - Багамский доллар</option>
                <option value="BTC">BTC - Биткойн</option>
                <option value="BTN">BTN - Бутанский нгултрум</option>
                <option value="BWP">BWP - Ботсванская пула</option>
                <option value="BYN">BYN - Белорусский рубль</option>
                <option value="BZD">BZD - Белизский доллар</option>
                <option value="CAD">CAD - Канадский доллар</option>
                <option value="CDF">CDF - Конголезский франк</option>
                <option value="CHF">CHF - Швейцарский франк</option>
                <option value="CLF">CLF - Чилийский учетная единица</option>
                <option value="CLP">CLP - Чилийское песо</option>
                <option value="CNH">CNH - Китайский юань (офшор)</option>
                <option value="CNY">CNY - Китайский юань</option>
                <option value="COP">COP - Колумбийское песо</option>
                <option value="CRC">CRC - Костариканский колон</option>
                <option value="CUC">CUC - Кубинское конвертируемое песо</option>
                <option value="CUP">CUP - Кубинское песо</option>
                <option value="CVE">CVE - Кабо-Вердский эскудо</option>
                <option value="CZK">CZK - Чешская крона</option>
                <option value="DJF">DJF - Джибутийский франк</option>
                <option value="DKK">DKK - Датская крона</option>
                <option value="DOP">DOP - Доминиканское песо</option>
                <option value="DZD">DZD - Алжирский динар</option>
                <option value="EGP">EGP - Египетский фунт</option>
                <option value="ERN">ERN - Эритрейская накфа</option>
                <option value="ETB">ETB - Эфиопский быр</option>
                <option value="EUR">EUR - Евро</option>
                <option value="FJD">FJD - Фиджийский доллар</option>
                <option value="FKP">FKP - Фунт Фолклендских островов</option>
                <option value="GBP">GBP - Британский фунт стерлингов</option>
                <option value="GEL">GEL - Грузинский лари</option>
                <option value="GGP">GGP - Гернсийский фунт</option>
                <option value="GHS">GHS - Ганский седи</option>
                <option value="GIP">GIP - Гибралтарский фунт</option>
                <option value="GMD">GMD - Гамбийский даласи</option>
                <option value="GNF">GNF - Гвинейский франк</option>
                <option value="GTQ">GTQ - Гватемальский кетсаль</option>
                <option value="GYD">GYD - Гайанский доллар</option>
                <option value="HKD">HKD - Гонконгский доллар</option>
                <option value="HNL">HNL - Гондурасская лемпира</option>
                <option value="HRK">HRK - Хорватская куна</option>
                <option value="HTG">HTG - Гаитянский гурд</option>
                <option value="HUF">HUF - Венгерский форинт</option>
                <option value="IDR">IDR - Индонезийская рупия</option>
                <option value="ILS">ILS - Израильский новый шекель</option>
                <option value="IMP">IMP - Мэнский фунт</option>
                <option value="INR">INR - Индийская рупия</option>
                <option value="IQD">IQD - Иракский динар</option>
                <option value="IRR">IRR - Иранский риал</option>
                <option value="ISK">ISK - Исландская крона</option>
                <option value="JEP">JEP - Джерсийский фунт</option>
                <option value="JMD">JMD - Ямайский доллар</option>
                <option value="JOD">JOD - Иорданский динар</option>
                <option value="JPY">JPY - Японская йена</option>
                <option value="KES">KES - Кенийский шиллинг</option>
                <option value="KGS">KGS - Киргизский сом</option>
                <option value="KHR">KHR - Камбоджийский риель</option>
                <option value="KMF">KMF - Коморский франк</option>
                <option value="KPW">KPW - Северокорейская вона</option>
                <option value="KRW">KRW - Южнокорейская вона</option>
                <option value="KWD">KWD - Кувейтский динар</option>
                <option value="KYD">KYD - Каймановский доллар</option>
                <option value="KZT">KZT - Казахстанский тенге</option>
                <option value="LAK">LAK - Лаосский кип</option>
                <option value="LBP">LBP - Ливанский фунт</option>
                <option value="LKR">LKR - Шри-ланкийская рупия</option>
                <option value="LRD">LRD - Либерийский доллар</option>
                <option value="LSL">LSL - Лесотский лоти</option>
                <option value="LYD">LYD - Ливийский динар</option>
                <option value="MAD">MAD - Марокканский дирхам</option>
                <option value="MDL">MDL - Молдавский лей</option>
                <option value="MGA">MGA - Малагасийский ариари</option>
                <option value="MKD">MKD - Македонский денар</option>
                <option value="MMK">MMK - Мьянманский кьят</option>
                <option value="MNT">MNT - Монгольский тугрик</option>
                <option value="MOP">MOP - Патака Макао</option>
                <option value="MRU">MRU - Мавританская угия</option>
                <option value="MUR">MUR - Маврикийская рупия</option>
                <option value="MVR">MVR - Мальдивская руфия</option>
                <option value="MWK">MWK - Малавийская квача</option>
                <option value="MXN">MXN - Мексиканское песо</option>
                <option value="MYR">MYR - Малайзийский ринггит</option>
                <option value="MZN">MZN - Мозамбикский метикал</option>
                <option value="NAD">NAD - Намибийский доллар</option>
                <option value="NGN">NGN - Нигерийская найра</option>
                <option value="NIO">NIO - Никарагуанская кордоба</option>
                <option value="NOK">NOK - Норвежская крона</option>
                <option value="NPR">NPR - Непальская рупия</option>
                <option value="NZD">NZD - Новозеландский доллар</option>
                <option value="OMR">OMR - Оманский риал</option>
                <option value="PAB">PAB - Панамская бальбоа</option>
                <option value="PEN">PEN - Перуанский соль</option>
                <option value="PGK">PGK - Кина Папуа-Новой Гвинеи</option>
                <option value="PHP">PHP - Филиппинское песо</option>
                <option value="PKR">PKR - Пакистанская рупия</option>
                <option value="PLN">PLN - Польский злотый</option>
                <option value="PYG">PYG - Парагвайский гуарани</option>
                <option value="QAR">QAR - Катарский риал</option>
                <option value="RON">RON - Румынский лей</option>
                <option value="RSD">RSD - Сербский динар</option>
                <option value="RWF">RWF - Руандский франк</option>
                <option value="SAR">SAR - Саудовский риял</option>
                <option value="SBD">SBD - Соломоновский доллар</option>
                <option value="SCR">SCR - Сейшельская рупия</option>
                <option value="SDG">SDG - Суданский фунт</option>
                <option value="SEK">SEK - Шведская крона</option>
                <option value="SGD">SGD - Сингапурский доллар</option>
                <option value="SHP">SHP - Фунт острова Святой Елены</option>
                <option value="SLL">SLL - Сьерра-леонский леоне</option>
                <option value="SOS">SOS - Сомалийский шиллинг</option>
                <option value="SRD">SRD - Суринамский доллар</option>
                <option value="SSP">SSP - Южносуданский фунт</option>
                <option value="STN">STN - Сан-Томе и Принсипи двоба</option>
                <option value="SVC">SVC - Сальвадорский колон</option>
                <option value="SYP">SYP - Сирийский фунт</option>
                <option value="SZL">SZL - Свазилендский лилангени</option>
                <option value="THB">THB - Тайский бат</option>
                <option value="TJS">TJS - Таджикский сомони</option>
                <option value="TMT">TMT - Туркменский манат</option>
                <option value="TND">TND - Тунисский динар</option>
                <option value="TOP">TOP - Тонганская паанга</option>
                <option value="TRY">TRY - Турецкая лира</option>
                <option value="TTD">TTD - Доллар Тринидада и Тобаго</option>
                <option value="TWD">TWD - Новый тайваньский доллар</option>
                <option value="TZS">TZS - Танзанийский шиллинг</option>
                <option value="UAH">UAH - Украинская гривна</option>
                <option value="UGX">UGX - Угандийский шиллинг</option>
                <option value="UYU">UYU - Уругвайское песо</option>
                <option value="UZS">UZS - Узбекский сум</option>
                <option value="VES">VES - Венесуэльский боливар</option>
                <option value="VND">VND - Вьетнамский донг</option>
                <option value="VUV">VUV - Вануатский вату</option>
                <option value="WST">WST - Самоанская тала</option>
                <option value="XAF">XAF - Центральноафриканский франк</option>
                <option value="XAG">XAG - Серебро (унция)</option>
                <option value="XAU">XAU - Золото (унция)</option>
                <option value="XCD">XCD - Восточно-карибский доллар</option>
                <option value="XDR">XDR - Специальные права заимствования</option>
                <option value="XOF">XOF - Западноафриканский франк</option>
                <option value="XPD">XPD - Палладий (унция)</option>
                <option value="XPF">XPF - Франк КФП</option>
                <option value="XPT">XPT - Платина (унция)</option>
                <option value="YER">YER - Йеменский риал</option>
                <option value="ZAR">ZAR - Южноафриканский рэнд</option>
                <option value="ZMW">ZMW - Замбийская квача</option>
                <option value="ZWL">ZWL - Зимбабвийский доллар</option>
            </select>

            <button type="submit" class="btn btn-primary">Конвертировать</button>
        </div>

    </form>

</div>

</body>
</html>